<div class="users-list" >
  <h1>Groups</h1>
  <table *ngIf="groups$ | async as groups ; else noGroups">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Department</th>


    </tr>
    <tr *ngFor="let group of groups" >
        <td>{{group.id}}</td>
        <td>{{group.name}}</td>
        <td>{{group.department}}</td>


    </tr>
</table>
<ng-template #noGroups>
    <div>No user found</div>
</ng-template>
</div>

