<div class="dashboard">
  <h1>Dashboard</h1>
  <ul class="nav-list">
    <ng-container *ngFor="let item of navItems">
      <li class="nav-item">
        <a [routerLink]="item.link" [routerLinkActive]="'active'">
          {{item.title}}

        </a>
      </li>
    </ng-container>
  </ul>
  <router-outlet></router-outlet>
</div>


