
.dashboard {
  background-color: #eee;
  width: 100%;
  height: 100vh;
  padding-top: 20px;

  .nav-list {
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;

  }
  .nav-item {
    font-size: 1.2rem;
    margin-bottom: 0.7rem;
    a {
      text-decoration: none;

      &.active {
        font-weight: bold;
      }
    }
  }
}
