.users-list {
  padding: 20px 50px;
  table {
      width: 100%;
      border-collapse: collapse;
      tr {
          cursor: pointer;

          &:hover{
              background-color: #4fc3f7;
          }
      }
      td,th {
          padding: 0.5rem;
          text-align: left;
      }
  }
}
