<div class="users-list" >
  <h1>Users</h1>
  <table *ngIf="users$ | async as users ; else noUsers">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Group</th>

    </tr>
    <tr *ngFor="let user of users" >
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.group}}</td>

    </tr>
</table>
<ng-template #noUsers>
    <div>No user found</div>
</ng-template>
</div>
